.wallet {
    height: 100%;
    width: 100%;
    max-width: 700px;

    margin:auto;

    display: flex;
    flex-direction: column;
}


.transactions {
    max-height: 700px;
    height: 100%;
    background-color: #FFFFFF;
}

.transactions > p {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 50px;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #868686;
}

.transactions > div {
    width: 100%;
    height: 100%;

    padding: 10px;

    display: flex;
    flex-direction: column;
}

.yourTransactions {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

}

.yourTransactions > div {
    width: 100%;
    height: 30px;
    padding: 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.data{
    width: 48px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: left;

    color: #C6C6C6;
}

.description{
    width: 100%;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;

    text-align: left;
    margin-left: 10px;

    color: #000000;

}

.balance{
    width: 62px;
    text-align:end;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.yourBalance{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
}

.button{
    width: 100%;
    height: 115px;
    max-width: 180px;
    margin-top: 15px;

    background-color: #A328D6;
    border-radius: 5px;
}

.button ion-icon{
    font-size: 32px;
}

.button > a{
    height: 100%;
    width: 90px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
