@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Saira+Stencil+One&display=swap');

* {
    box-sizing: border-box;
  }

body{
  background-color: #8C11BE;


  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
}

h1{
  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 400;
  
  font-size: 32px;
  line-height: 50px;

  color: #FFFFFF;
}

h5{
  font-size: 17px;
  line-height: 20px;

  color: #000000;
}

h6 {
  font-size: 26px;
  line-height: 31px;

  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}